./res/
./scripts/outputs
./Hierarchical-Localization_local
./SAM
./R1/
./reconer
./conf/reconer
./dust3r-local
./mast3r-local
./scripts/outputs
assets/.DS_Store
.DS_Store

*.pyc
*.log
*.npy

**__pycache__/*